@charset "UTF-8";
/* GENERAL */
body {
  font-size: 14px;
  background-image: linear-gradient(to top, #dabaae, #fff8f3, #ffffff); }

ul {
  list-style-type: circle;
  list-style-position: outside;
  color: #bb968b;
  margin-top: 5px;
  padding-left: -40px; }
  ul li {
    margin: 5px;
    font-size: 15px; }

.header__foto--tamaño, .tamañoFotoBlog {
  width: 100%;
  height: auto; }

.header__logos--estilo {
  background-color: #dabaae;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding-bottom: 10px; }

.header__logos--tamaño {
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 20px 10px 0px 10px; }

nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between; }

.mr-auto {
  margin-right: 0 !important; }

.navbar-collapse {
  flex-grow: 0; }

.nav__bar--general {
  background-color: #dabaae;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bold; }

.nav__links--ubicacion {
  flex-basis: auto; }

a .nav__links--animacion, a .nav__lucia--color {
  transition: 1s; }

.nav__links--animacion:hover, .nav__lucia--color:hover {
  transform: scale(1.2);
  color: #2e2e2e; }

.nav__lucia--color {
  color: #ffffff; }

.nav-link {
  color: #ffffff; }

.nav__button--color {
  color: #ffffff;
  box-sizing: border-box;
  size: 40px; }

.navbar-toggler-icon {
  color: #ffffff; }

.navbar-toggler {
  border-color: #ffffff; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.main__titulo--estilo {
  font-family: "Quicksand", sans-serif;
  color: #204959;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  letter-spacing: 4px; }

.inicio__titulo--color {
  font-family: "Quicksand", sans-serif;
  color: #dabaae;
  font-size: 19px;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  padding: 5px; }

.secciones__titulos--estilo {
  font-family: "Raleway", sans-serif;
  color: #204959;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-right: 10px; }

.main__h4--fondo, .main__h4--estilo {
  font-family: "Raleway", sans-serif;
  color: #747474;
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold; }

.main__h4--estilo {
  background-color: #fbeee6; }

.body__parrafos--estilo {
  font-family: "Quicksand", sans-serif;
  font-size: 14.5px;
  color: #2e2e2e;
  text-align: center;
  margin: 3px 13px 8px 13px;
  padding: 8px 13px 8px 13px; }

.seccion__post--tamaño {
  width: 300px;
  height: 320px;
  justify-content: center; }

.seccion__post--boton {
  margin-top: 10px; }

.logos {
  width: 20px;
  height: 20px;
  color: #eeb2a0; }

.seccion__redes--titulo {
  font-family: "Quicksand", sans-serif;
  color: #204959;
  text-align: center;
  margin-top: 40px;
  padding: 5px;
  font-size: 20px;
  text-shadow: #204959;
  letter-spacing: 4px; }

.seccion__redes--estilo {
  font-family: "Quicksand", sans-serif;
  color: #2e2e2e;
  text-align: center;
  margin-top: 10px;
  padding: 5px; }

.padreLinksRedes div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  padding: 15px; }

.hijoRedes div {
  flex-basis: auto;
  color: #2e2e2e; }

.links {
  color: #2e2e2e;
  text-decoration: none; }

a .seccion__links--animacion {
  display: inline-block;
  transition: 1s; }

.seccion__links--animacion:hover {
  transform: scale(1.2);
  color: #2e2e2e;
  text-decoration: none; }

.footer__padre div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 18px; }

.footer__hijo div {
  flex-basis: auto; }

.footer__links--color {
  color: #2e2e2e; }

div .irArriba {
  color: #2e2e2e;
  transition: 1s; }

.irArriba:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: #2e2e2e; }

.footer__foto--tamaño {
  width: 100%;
  height: auto;
  margin-top: 20px;
  justify-content: center; }

/*INDEX*/
.carousel {
  margin-top: 15px; }

div .inicio__tarjeta--animacion {
  transition: 1s; }

.inicio__tarjeta--animacion:hover {
  transform: scale(1.1); }

.inicio__tarjeta--tamaño {
  width: 220px;
  height: 370px;
  margin-top: 10px;
  margin-right: -30%;
  margin-left: 20%;
  top: 30px;
  text-align: center; }

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem;
  font-family: "Quicksand", sans-serif;
  color: #7297a6;
  font-size: 16px; }

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0; }

.card-text {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #2e2e2e;
  font-size: 13px; }

.card-link {
  margin-left: 1.25rem;
  margin-top: 10px; }

/*SOBRE MI / TRABAJOS*/
.seccion__sobremi--fondo {
  background: #fff8f3; }

.seccion__infogeneral {
  padding-top: 40px; }

.listaSobreMi {
  margin: 10px;
  padding: 10px; }

.itemSobreMi {
  margin: 5px;
  padding: 5px; }

.tamañoFotoSobreMi {
  width: 62%;
  height: auto;
  margin: 40px -10px 40px 70px; }

.seccion__sobremi--color {
  color: #ffffff;
  font-size: 15px; }

.jumbotron {
  background-color: #dabaae; }

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #747474;
  text-align: center; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dabaae; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dabaae;
    color: #204959; }
  .table tbody + tbody {
    border-top: 2px solid #dabaae; }

/* SERVICIOS */
.tamañoFotos, .tamañoFotoServicios2, .tamañoFotoServicios3, .tamañoFotoServicios4, .tamañoFotoServicios5 {
  width: 100%;
  height: auto; }

.tamañoFotoServicios2 {
  margin-top: 55px; }

.tamañoFotoServicios3 {
  margin-top: 60px; }

.tamañoFotoServicios4 {
  margin-top: 80px; }

.tamañoFotoServicios5 {
  margin-top: 20px; }

img .servicios__fotos--animacion {
  transition: 2s; }

.servicios__fotos--animacion:hover {
  transform: scale(1.1); }

.serviciosQuiero {
  font-family: "Raleway", sans-serif;
  background-color: #fbeee6;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  font-weight: bold; }

.seccion__servicios--animacion {
  color: #2e2e2e;
  transition: 2s; }

.seccion__servicios--animacion:hover {
  transform: scale(1.2);
  font-weight: bold;
  color: #2e2e2e; }

/*CONTACTOS*/
.tamañoFotoContactos {
  width: 100%;
  height: auto; }

.listaEncontrame {
  margin-top: 10px; }

div .div__encontrame--color {
  color: #bb968b;
  text-decoration: none; }

.div__encontrame--color:hover {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: bold; }

form {
  font-family: 'Quicksand', sans-serif;
  color: #747474;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: 3px solid;
  border-color: #bb968b; }

.formulario {
  margin-bottom: 25px;
  font-size: 25px;
  color: #204959; }

input .animacionFormulario {
  transition: all 3s; }

.animacionFormulario:focus {
  transform: scale(1.5);
  font-size: 15px; }

/*BLOG*/
.listaBlog {
  margin-top: 50px;
  text-decoration: none;
  color: #dabaae;
  text-align: center;
  list-style-position: inside; }

#padreBlog div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

div .hijoBlog {
  flex-basis: auto;
  font-size: 15px;
  color: #2e2e2e; }

.div__lista--animacion {
  text-decoration: none;
  color: #bb968b; }

.div__lista--animacion:hover {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: bold; }
