$base-font-size: 14px;
$font-primaria: 'Quicksand', sans-serif;
$font-secundaria: 'Raleway', sans-serif;
$font-color: #2e2e2e;
$color-titulos: #204959;
$color-listas: #bb968b;
$ancho: 100%;
$alto: auto;
$table-cell-padding: .75rem !default;
$table-color: #747474 !default;
$table-bg: null !default;
$table-border-width: 1px !default;
$table-border-color: #dabaae !default;
$spacer: 1rem !default;
$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-color:                        null !default;
/* GENERAL */
body{
	font-size: $base-font-size;
	background-image: linear-gradient(to top, #dabaae, #fff8f3, #ffffff);
}
ul{
	list-style-type: circle;
	list-style-position: outside;
	color: $color-listas;
	margin-top: 5px;
	padding-left: -40px;

	li{
		margin: 5px;
		font-size: 15px;
	}
}
.header__foto--tamaño {
  width: $ancho;
  height: $alto;
}
.header__logos--estilo{
	background-color: #dabaae;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: baseline;
	padding-bottom: 10px;
}
.header__logos--tamaño{
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 20px 10px 0px 10px;
}
nav{
	display: flex;
	justify-content: space-between;
	align-content: space-between;
}
.mr-auto{
	margin-right: 0 !important;
}
.navbar-collapse{
	flex-grow: 0;
}
.nav__bar--general{
	background-color: #dabaae;
	text-align: left;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}
.nav__links--ubicacion{
	flex-basis: auto;
}
a .nav__links--animacion{
	transition: 1s;
}
.nav__links--animacion:hover{
	transform: scale(1.2);
	color: $font-color;
}
.nav__lucia--color{
	@extend.nav__links--animacion;
	color: #ffffff;
}
.nav-link{
	color: #ffffff;
}
.nav__button--color{
	color: #ffffff;
	box-sizing: border-box;
	size: 40px;
}
.navbar-toggler-icon{
	color: #ffffff;
}
.main__titulo--estilo{
	font-family: $font-primaria;
	color: $color-titulos;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	letter-spacing: 4px;
}
.inicio__titulo--color{
	font-family: $font-primaria;
	color: #dabaae;
	font-size: 19px;
	text-align: center;
	margin: 10px;
	margin-top: 20px;
	padding: 5px;
}
.secciones__titulos--estilo{
	font-family: $font-secundaria;
	color: #204959;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 10px;
}
.main__h4--fondo{
  font-family: $font-secundaria;
  color: #747474;
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}
.main__h4--estilo{
	@extend .main__h4--fondo;
	background-color: #fbeee6;
}
.body__parrafos--estilo{
	font-family: $font-primaria;
	font-size: 14.5px;
	color: $font-color;
	text-align: center;
	margin: 3px 13px 8px 13px;
	padding: 8px 13px 8px 13px;
}
.seccion__post--tamaño{
	width: 300px;
	height: 320px;
	justify-content: center;
}
.seccion__post--boton{
	margin-top: 10px;
}
.logos{
	width: 20px;
	height: 20px;
	color: #eeb2a0;
}
.seccion__redes--titulo{
	font-family: $font-primaria;
	color: $color-titulos;
	text-align: center;
	margin-top: 40px;
	padding: 5px;
	font-size: 20px;
	text-shadow: #204959;
	letter-spacing: 4px;
}
.seccion__redes--estilo{
	font-family: $font-primaria;
	color: $font-color;
	text-align: center;
	margin-top: 10px;
	padding: 5px;
}
.padreLinksRedes div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin: 15px;
	padding: 15px;
}
.hijoRedes div{
	flex-basis: auto;
	color: $font-color;
}
.links{
	color: $font-color;
	text-decoration: none;
}
a .seccion__links--animacion{
	display: inline-block;
	transition: 1s;
}
.seccion__links--animacion:hover{
	transform: scale(1.2);
	color: $font-color;
	text-decoration: none;
}
.footer__padre div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	font-size: 18px;
}
.footer__hijo div{
	flex-basis: auto;
}
.footer__links--color{
	color: $font-color;
}
div .irArriba{
	color: $font-color;
	transition: 1s;
}
.irArriba:hover{
	transform: scale(1.1);
	font-weight: bold;
	color: $font-color;
}
.footer__foto--tamaño{
	width: $ancho;
	height: $alto;
	margin-top: 20px;
	justify-content: center;
}
/*INDEX*/
.carousel{
	margin-top: 15px;
}
div .inicio__tarjeta--animacion{
	transition: 1s;
}
.inicio__tarjeta--animacion:hover{
	transform: scale(1.1);
}
.inicio__tarjeta--tamaño{
	width: 220px;
	height: 370px;
	margin-top: 10px;
	margin-right: -30%;
	margin-left: 20%;
	top: 30px;
	text-align: center;
}
.card-body {
  	flex: 1 1 auto;
 	min-height: 1px;
  	padding: $card-spacer-x;
  	color: $card-color;
}
.card-title {
 	margin-bottom: $card-spacer-y;
  	font-family: $font-primaria;
	color: #7297a6;
	font-size: 16px;
}
.card-subtitle {
  margin-top: -$card-spacer-y / 2;
  margin-bottom: 0;
}
.card-text{
  	margin-bottom: 0;
  	font-family: $font-secundaria;
	color: $font-color;
	font-size: 13px;
}
.card-link {
    margin-left: $card-spacer-x;
    margin-top: 10px;
}
/*SOBRE MI / TRABAJOS*/
.seccion__sobremi--fondo{
	background: #fff8f3;
}
.seccion__infogeneral{
	padding-top: 40px;
}
.listaSobreMi{
	margin: 10px;
	padding: 10px;
}
.itemSobreMi{
	margin: 5px;
	padding: 5px;
}
.tamañoFotoSobreMi{
	width: 62%;
	height: $alto;
	margin: 40px -10px 40px 70px;
}
.seccion__sobremi--color{
	color: #ffffff;
	font-size: 15px;
}
.jumbotron{
	background-color: #dabaae;
}
.table {
  width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  background-color: $table-bg;
  text-align: center;
  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }
  thead th {
    vertical-align: bottom;
    border-bottom: ($table-border-width * 2) solid $table-border-color;
    color: #204959;
  }
  tbody + tbody {
    border-top: ($table-border-width * 2) solid $table-border-color;
  }
}
/* SERVICIOS */
.tamañoFotos{
	width: 100%;
	height: auto;
}
.tamañoFotoServicios2{
	margin-top: 55px;
	@extend .tamañoFotos;
}
.tamañoFotoServicios3{
	margin-top: 60px;
	@extend .tamañoFotos;
}
.tamañoFotoServicios4{
	@extend .tamañoFotos;
	margin-top: 80px;
}
.tamañoFotoServicios5{
	@extend .tamañoFotos;
	margin-top: 20px;
}
img .servicios__fotos--animacion{
	transition: 2s;
}
.servicios__fotos--animacion:hover{
	transform: scale(1.1);
}
.serviciosQuiero{
	font-family: $font-secundaria;
	background-color: #fbeee6;
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	font-weight: bold;
}
.seccion__servicios--animacion{
	color: $font-color;
	transition: 2s;
}
.seccion__servicios--animacion:hover{
	transform: scale(1.2);
	font-weight: bold;
	color: $font-color;
}
/*CONTACTOS*/
.tamañoFotoContactos{
	width: 100%;
	height: auto;
}
.listaEncontrame{
	margin-top: 10px;
}
div .div__encontrame--color{
	color: $color-listas;
	text-decoration: none;
}
.div__encontrame--color:hover{
	color: $font-color;
	text-decoration: none;
	font-weight: bold;
}
form{
	font-family: 'Quicksand', sans-serif;
 	color: #747474;
 	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
 	padding: 5px;
 	border: 3px solid;
 	border-color: $color-listas;
 }
.formulario{
	margin-bottom: 25px;
	font-size: 25px;
	color: $color-titulos;
}
input .animacionFormulario{
	transition: all 3s;
}
.animacionFormulario:focus{
	transform: scale(1.5);
	font-size: 15px;
}
/*BLOG*/
.tamañoFotoBlog{
	@extend.header__foto--tamaño;
}
.listaBlog{
	margin-top: 50px;
	text-decoration: none;
	color: #dabaae;
	text-align: center;
	list-style-position: inside;
}
#padreBlog div{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
div .hijoBlog{
	flex-basis: auto;
	font-size: 15px;
	color: $font-color;
}
.div__lista--animacion{
	text-decoration: none;
	color: $color-listas;
}
.div__lista--animacion:hover{
	color: $font-color;
	text-decoration: none;
	font-weight: bold;
}